<html>

    <head>
        <meta charset="UTF-8">
        <title>Template | GDPS Hub</title>
        <link rel="icon" type="image/png" sizes="16x16" href="assets/logo.png">
        <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css">

        <meta id="meta-title" property="og:title" content="- on GDPS Hub">
        <meta id="meta-desc" property="og:description" content="The first marketplace for GDPS!">
        <meta id="meta-image" name="og:image" itemprop="image" content="http://gdpshub.7m.pl/images/logo.png">
    </head>

    <body>
        <div class="header" style="height: 60px;">
            <a href="../../index.html"><img src="../../images/logo.png" alt="Error" height="55" class="img-valign" style="border-radius: 10%;"></a>
            <form action="INSERT ACTION HERE CATBRAINS" style="margin-top: -0.4%">
                <input type="text" class="header-search"   placeholder="Search for a GDPS..." style="margin-left: 16%;">
                <input class="headerbutton headerbutton0" type="submit" value="Search">
            </form>
            <a href="../../user/index.html" style="float: right; text-decoration: none; margin-top: -6%;"><img src="../../images/default.jpg" height="55px" style="border-radius:50%; margin-right:20px;" >Welcome $username <img src="../../images/verified.png" height="20px"></a>
            
        </div>


        <div class="bg-gdps" style="background-image: url('../../gdps/template/assets/hero.jpg');"></div>
        <div class="logo-gdps" style="background-image: url('../../gdps/template/assets/logo.png');"></div>

        <div class="title-gdps">TemplateGDPS  <img src="../../images/verified.png" style="height:35px;">  </div>
        <center><a class="install-gdps" href="https://download.link/">Install (PC and Linux)</a> <a class="install-gdps" href="https://download.link/">Install (Android)</a></center>

        <div class="desc-gdps">
            <strong class="desctitle">Description</strong><br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>

        <table class="infotable-gdps">
            <tr>
                <th>Owner(s)</th>
                <th>Creation</th>
                <th>Published in GDPS Hub</th>
                <th>GDPS Database</th>
                <th>Game Version</th>
              </tr>
              <tr>
                <td>$gdpsowner</td>
                <td>Month YYYY</td>
                <td>Month YYYY by $username</td>
                <td>$dbtype</td>
                <td>$gameversion</td>
              </tr>
        </table>

    </body>
</html>