<html>

    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="icon" type="image/png" sizes="16x16" href="../../images/square-logo.png">
        <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css">

        <meta id="meta-title" property="og:title" content="GDPS Hub">
        <meta id="meta-desc" property="og:description" content="The first marketplace for GDPS!">
        <meta id="meta-image" name="og:image" itemprop="image" content="http://gdpshub.7m.pl/images/square-logo.png">
    </head>

    <body>
        <div class="header" id="myHeader" style="height: 9%;">
            <a href="../../index.html"><img src="../../images/logo.png" alt="Error" height="55" class="img-valign" style="border-radius: 10%;"></a>
            <input type="text" class="header-search"   placeholder="Search for a GDPS...">
            <a href="../../user/index.html" style="float: right; text-decoration: none;"><img src="../../images/default.jpg" height="55px" style="border-radius:50%; margin-right:20px;" >Welcome $username <img src="../../images/verified.png" height="20px"></a>
            </div>
        </div>

        <p class="hometitle" style="text-align:center;">Welcome $username<img src="../../images/verified.png" height="50px"> to GDPS Hub Studio</p>
        <p>
        <div class="studio-box">
            <div class="studio-title">Your GDPSes:</div>
            <br>
            <a href="" style="text-decoration:none;"><div class="studio-gdps"><img src="../../images/no-gdps-logo.png" height="40px" style="border-radius:20px;">&nbsp;&nbsp;ExampleGDPS</div></a>
            <a href="" style="text-decoration:none;"><div class="studio-gdps"><img src="../../images/no-gdps-logo.png" height="40px" style="border-radius:20px;">&nbsp;&nbsp;ExampleGDPS 2</div></a>
            <br><center><button class="headerbutton headerbutton6" role="link" onclick="window.location='index.html'"><span>+ Add GDPS</span></button></center>
        </div>
        <p>
        <div class="studio-verify">
            <img src="../../images/verified.png">
            <div class="studio-title" style="text-align: left; font-size:40px;">Get verified</div>
            <div class="studio-text" style="font-size: 24px;">
                Make your GDPS verified in GDPS Hub, to place it as a safe and good GDPS in the lists. And also get a vanity URL ;D
                <br>The requisites are:
                <ul>
                    <li>Have more than 100 in-game players</li>
                    <li>Have a Discord server with more than 50 members</li>
                    <li>The server must be clean of NSFW content, and must cumpliment the Discord ToS</li>
                    <li>The GDPS must be at least 30 days old</li>
                    <li>Contact us to <a href="mailto:smartlinkwfs@gmail.com">this email</a> to ensure you are the owner of the GDPS</li>
                </ul>
                <p style="font-size:14px;">The requisits are subject to changes</p>
            </div>
            <button class="headerbutton headerbutton5" role="link" onclick="window.location='index.html'"><span>Apply for verification</span></button>
        </div>
    </body>
</html>